<header class="jumbotron">
	<h1 class="text-center">Cadastro de fotos</h1>
</header>

<main class="container">
	<div class="row">
		<form class="col-md-7" [formGroup]="formCadastro" (submit)="cadastrarFoto()">

			<div class="form-group">
				<label for="">Título</label>
				<input type="text" formControlName="titulo" class="form-control" required>
				<div *ngIf="titulo.touched">
					<p *ngIf="titulo.getError('required')" class="alert alert-danger">Campo obrigatório</p>
					<p *ngIf="titulo.getError('minlength')" class="alert alert-danger">Min. {{titulo.getError('minlength').requiredLength}} caractéres</p>
				</div>
			</div>

			<div class="form-group">
				<label for="">Url</label>
				<input formControlName="url" class="form-control" required>
				<div *ngIf="url.touched">
					<p *ngIf="url.getError('required')" class="alert alert-danger">Campo obrigatório</p>
				</div>
			</div>


			<div class="form-group">
				<label for="">Descrição</label>
				<textarea formControlName="descricao" class="form-control"  required></textarea>
			</div>

			<a routerLink="" class="btn btn-secondary mr-2">Voltar</a>
			<button class="btn btn-primary" [disabled]="formCadastro.invalid">Salvar</button>

		</form>

		<aside class="col-md-5">
			<h2>Preview</h2>

			<card [dados]="foto" class="col-md-4 mb-4">
				<foto [url]="foto.url" [titulo]="foto.titulo" class="foto"></foto>
			</card>
		</aside>
	</div>
</main>
